.bot-one {
  min-height: 100vh;
  padding: 4rem 1rem;
  background-color: #7e7f80;

  section {
    margin: 0 auto;
    background-color: #cac6c6;
    border-radius: 15px;
    padding: 0.25rem 1rem;
    box-shadow: 0px 1px 18px 3px #242526;
    max-width: 768px;
    margin-bottom: 2rem;
  }
}
