.chatbot {
  background-color: #16202c;
  width: 768px;
  min-height: 512px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1em;

  & > * {
    padding: 0.5em;
  }

  &__conversation-container {
    max-height: 448px;
    min-height: 448px;
    overflow-y: scroll;
    margin: 1em 0;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-moz-scrollbar {
      display: none;
    }
  }

  &__speech {
    padding: 1em;
    margin: 1em auto;
    color: #fcfcfc;
    border-radius: 15px;
    line-height: 1.3rem;

    &:first-child {
      margin-top: 0;
    }

    &--ai {
      background: #253b4b;
      border-top-left-radius: 0;
    }

    &--human {
      background: #24976f;
      border-top-right-radius: 0;
    }
  }

  &__input-container {
    display: flex;
  }

  input[type="text"],
  &__submit-btn {
    background-color: transparent;
    border: 1px solid #586e88;
    border-radius: 15px;
    padding: 1em;
  }

  input[type="text"] {
    color: #fcfcfc;
    width: 100%;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__submit-btn {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;

    svg {
      path {
        fill: #77aef1;
      }
    }

    &:hover {
      path {
        fill: #ff823b;
      }
    }
  }

  h1 {
    font-size: 15px;
    color: #fcfcfc;
    grid-area: title;
  }

  h2,
  p {
    color: #586e88;
  }

  h2 {
    font-size: 11px;
    font-weight: 700;
    grid-area: subtitle;
    text-transform: uppercase;
  }
}
